html {
    font-size: 100%;
}

body {
    font: 300 0.8125rem/175% "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0 49px;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #eee;
}

blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 2px solid #eee;
}

ul, ol, p {
    margin: 1em 0;
}

b, strong {
    font-weight: 500;
}

h1, h2, h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0.8125rem 0;
}

h1 {
    margin-bottom: 1.125rem;
    letter-spacing: 3px;
}

h2 {
    font-size: 0.9375rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

h3 {
    font-size: 0.8125rem;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.circle, .badge, .notes .avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.badge {
    display: inline-block;
    width: 1.8125rem;
    height: 1.8125rem;
    padding: 0.5rem;
    line-height: 0.8125rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.badge:before {
    font-size: 0.8125rem;
}

.lightcaps,
.more_notes_link_container {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 100%;
    font-family: "Amiri", "Baskerville", Georgia, "Times New Roman", Times, serif;
}

.transitions-enabled a, .transitions-enabled .note:before {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.transitions-enabled .badge, .transitions-enabled .link-container, .transitions-enabled .more_notes_link {
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.transitions-enabled .post-date-link, .transitions-enabled .index .tag-link, .transitions-enabled .link-excerpt {
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    -o-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}
.transitions-enabled #blog-header {
    -webkit-transition: border-bottom-color 0.4s ease-in-out, height 0.2s ease-in-out;
    -moz-transition: border-bottom-color 0.4s ease-in-out, height 0.2s ease-in-out;
    -o-transition: border-bottom-color 0.4s ease-in-out, height 0.2s ease-in-out;
    transition: border-bottom-color 0.4s ease-in-out, height 0.2s ease-in-out;
}
.transitions-enabled #blog-title {
    -webkit-transition: font-size 0.2s ease-in-out;
    -moz-transition: font-size 0.2s ease-in-out;
    -o-transition: font-size 0.2s ease-in-out;
    transition: font-size 0.2s ease-in-out;
}
.transitions-enabled #blog-description {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}
.transitions-enabled #elevator {
    -webkit-transition: background-color 0.2s ease-in-out, bottom 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, bottom 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, bottom 0.4s ease-in-out, opacity 0.6s ease-in-out;
    transition: background-color 0.2s ease-in-out, bottom 0.4s ease-in-out, opacity 0.6s ease-in-out;
}
.transitions-enabled .post-title-link:after {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

/* ==========================================================================
    General Layout Styles
   ========================================================================== */
.index .tmblr-iframe {
    display: none;
}

#wrapper, #blog-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}

.permalink #wrapper {
    width: 810px;
    max-width: none;
}

#blog-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 7.4375rem;
    padding: 40px 0;
    border-bottom: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#blog-header.compact {
    height: 4.4375rem;
    padding: 29px 0;
}

#posts-container {
    margin-top: 7.4375rem;
}

.permalink #posts-container.has-posts {
    width: 540px;
}

#blog-footer {
    padding: 20px 20px;
    border-top: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.permalink #blog-footer {
    margin-top: 20px;
}

/* ==============
    Progress Bar
   ============== */
#nprogress {
    pointer-events: none;
}
#nprogress .progress-bar {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* ============
    Flat Lists
   ============ */
#main-menu, #social-icons,
.chat-container, .fake-list,
.tags, .post-icons, .post-sources,
.notes, .pagination,
#tagCloud ul {
    list-style-type: none;
    padding: 0;
}

.menu-item, .social-item,
.play-count, .permalink .external-audio,
.submission, .via, .source,
.next, .previous, .page-number {
    display: inline-block;
}

/* =========================
    Bottom Border for Hover
   ========================= */
.post-date-link,
.index .tag-link {
    border-bottom: 1px solid transparent;
}

/* ==========================================================================
   Header Styles
   ========================================================================== */
#header-wrapper {
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
}

#blog-title,
#blog-description,
#main-menu {
    margin: 0;
    position: absolute;
    display: inline-block;
    line-height: 1em;
}

#blog-title {
    top: 0;
    left: 20px;
    font-size: 1.125rem;
}

#blog-description {
    top: 1.625rem;
    left: 20px;
    font: italic 0.8125rem/0.8125rem "Amiri", "Baskerville", Georgia, "Times New Roman", Times, serif;
    height: 0.8125rem;
}

#main-menu {
    top: 0;
    right: 20px;
    font-size: 0.75rem;
}

.menu-item {
    margin-right: 1.5625rem;
    text-transform: lowercase;
}

.menu-item:last-child {
    margin-right: 0;
}

.compact #blog-title {
    font-size: 0.8125rem;
}
.compact #blog-description {
    height: 0;
    overflow: hidden;
}

/* ==========================================================================
    Main Styles
   ========================================================================== */
.results-title {
    margin: 0 20px 20px;
    font-family: inherit !important;
    font-weight: 300;
    font-size: 0.75rem;
    text-transform: lowercase;
    letter-spacing: normal;
}
.results-title:before {
    vertical-align: middle;
    margin-right: 3px;
}
.results-title .the-query {
    font-style: normal;
    font-weight: 500;
}

.tag-page[data-tag="x"] .results-title {
    display: none;
}

.index .post, #grid-sizer {
    width: 50%;
    max-width: 540px;
    min-width: 440px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.index .post {
    margin-bottom: 40px;
    float: left;
}

.permalink .post {
    margin-bottom: 20px;
}

.post-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.index .post-content {
    padding-bottom: 1em;
}

.type-quote .post-content,
.type-answer .post-content {
    padding-top: 1em;
}

.type-text .post-content,
.type-chat .post-content {
    padding-top: 1px;
}

/* ===========
    The Posts
   =========== */
.post iframe {
    max-width: 100%;
}

.post-title {
    margin-left: 0.8125rem;
    margin-right: 0.8125rem;
    line-height: 125%;
}

.index .post-title,
.has-posts .post-title {
    font-size: 1.125rem;
}

.post-title-link:after {
    opacity: 0;
}

.post-title-link:hover:after {
    opacity: 1;
}

.post-body {
    margin: 0 1em;
}
.post-body small {
    font-size: 85%;
    line-height: 100%;
}
.post-body pre {
    font-size: 90%;
    line-height: 150%;
}
.post-body figure {
    margin: 1em 0;
}

/* tumblr gif styles */
.tmblr-full .tmblr-attribution {
    margin: 0 0.8125rem;
    font-size: 85%;
}
.tmblr-full .tmblr-attribution .icon-link-ext:before {
    margin-right: 0.1875rem;
    vertical-align: middle;
}
.tmblr-full.stretched {
    position: relative;
    left: -1em;
}
.tmblr-full.stretched img {
    width: 100%;
}

/* ============
    Photo Post
   ============ */
.post-photo {
    width: 100%;
}

.tmblr-lightbox .lightbox-image {
    max-width: none;
}

.post:not(.photoset-post) .post-photo,
.photoset-row:first-child.columns-1 .photo-link {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.photoset-row:first-child:not(.columns-1) .photo-link:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.photoset-row:first-child:not(.columns-1) .photo-link:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

/* ============
    Quote Post
   ============ */
.quote-container {
    padding: 0;
    border-width: 0;
    margin-top: 0;
}

.the-quote {
    margin: 0 0.8125rem 0.8125rem;
    text-transform: uppercase;
}
.the-quote p:first-child {
    margin-top: 0;
}

.quote-container.short .the-quote {
    font-size: 1.125rem;
    line-height: 125%;
}

.quote-container.medium .the-quote {
    font-size: 0.9375rem;
    line-height: 150%;
}

.quote-source {
    font-family: "Amiri", "Baskerville", Georgia, "Times New Roman", Times, serif;
    font-size: 0.875rem;
}

/* ===========
    Link Post
   =========== */
.link-container {
    display: block;
    padding: 1em 0;
    background-color: transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.link-container.has-thumbnail {
    padding-top: 0;
}
.link-container:not(.has-thumbnail) .link-name {
    margin-top: 0;
}

.link-name:after {
    margin-left: 0.625rem;
}

.link-excerpt {
    margin: 0 1em;
}
.link-excerpt .the-excerpt {
    font-size: 0.75rem;
    line-height: 150%;
    margin-bottom: 0;
}

.type-link .post-body {
    border-top: 1px solid #eee;
    margin-top: 1em;
}

/* ===========
    Chat Post
   =========== */
.chat-container {
    margin-top: 0;
    margin-bottom: 0;
}

.chat-title {
    margin-bottom: 5px;
}

.chat-line {
    padding: 1em;
}

.line-label {
    float: left;
    width: 20%;
    word-wrap: break-word;
}

.chat-line.has-label .line-text {
    float: left;
    width: 80%;
    padding-left: 0.3125rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* ============
    Audio Post
   ============ */
.type-audio .post-content {
    position: relative;
}

.audio-info {
    padding: 1em 1em 0;
    min-height: 71px;
}
.audio-info .the-info {
    vertical-align: middle;
    min-height: 71px;
    padding-left: 84px;
    opacity: 0;
}

.index .audio-info {
    margin-bottom: 1em;
}

.track-name {
    font-size: 0.9375rem !important;
    margin: 0;
    letter-spacing: normal;
}

.artist {
    font-size: 0.75rem;
    margin: 0.375rem 0 0;
}

.album-art {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 71px;
    height: 71px;
}

.audio-player {
    width: 27px;
    height: 27px;
    padding: 10px;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.audio_player {
    width: 27px;
    height: 27px;
    overflow: hidden;
}

.tumblr_audio_player {
    width: 27px !important;
    max-width: 27px !important;
    height: 27px;
    overflow: hidden;
    position: relative;
    left: -3px;
}

/* =============
    Answer Post
   ============= */
.question-container,
.answer-container {
    margin: 0 1em;
    position: relative;
}

.answer-container {
    margin-top: 1em;
    padding-top: 1em;
}

.asker-portrait,
.answerer-portrait {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.answerer-portrait {
    top: 1em;
}

.question-author,
.answer-author {
    text-transform: uppercase;
    line-height: 100%;
    height: 24px;
    padding: 6px 0 0 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.asker, .answerer {
    font-weight: normal;
}

.question, .answer {
    padding-bottom: 1em;
}

.question {
    margin-top: 1em;
}

.answer-container,
.type-answer .post-body {
    border-top: 1px solid #eee;
}

.type-answer .post-body:empty {
    border-top-width: 0;
}

/* =======
    Pages
   ======= */
#ask_form {
    margin-bottom: 1em;
}

.elsewhere, .left-column, .right-column {
    line-height: 1.5625rem;
}

.left-column, .right-column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 1em;
}
.left-column h2, .right-column h2 {
    font-size: 0.8125rem;
}
.left-column ul, .right-column ul {
    padding-left: 1em !important;
}
.left-column ul:last-child, .right-column ul:last-child {
    margin-bottom: 0;
}
.left-column ul ul, .right-column ul ul {
    padding-bottom: 1em;
}

.left-column {
    float: left;
    padding-right: 0.5em;
}

.right-column {
    float: right;
    padding-left: 0.5em;
}

/* ===========
    Post Meta
   =========== */
.index .post-aside,
.post-footer {
    padding: 1em 1em 0;
}

.permalink .post-aside {
    position: fixed;
    top: 7.4375rem;
    width: 250px;
    margin-left: 560px;
}

.post-date {
    font-size: 0.6875rem;
}

.index .post-date {
    line-height: 0.6875rem;
    text-transform: lowercase;
    float: left;
    max-width: 18%;
}

.permalink .post-date {
    line-height: 150%;
}

.tags {
    line-height: 150%;
}

.index .tags {
    font-size: 0.5625rem;
    float: left;
    margin: 0;
    padding-left: 20px;
    max-width: 77%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.index .tags:before {
    content: '/';
    position: absolute;
    left: 8px;
    font-size: 0.6875rem;
}
.index .has-external-audio .tags {
    max-width: 71%;
}
.index .tag {
    float: left;
    padding-right: 0.3125rem;
}

.permalink .tags {
    font-size: 0.625rem;
}

.index .post-icons {
    float: right;
    margin: 0;
    font-size: 0.6875rem;
    line-height: 0.6875rem;
}

.permalink .post-icons {
    display: none;
    font-size: 0.625rem;
    line-height: 150%;
    text-transform: lowercase;
}
.permalink .post.type-audio .post-icons {
    display: block;
}
.permalink .play-count:before {
    margin-right: 6px;
}
.permalink .external-audio:before {
    content: '/';
    margin-left: 3px;
}

.index .external-audio,
.like-button,
.reblog-button {
    float: right;
    text-align: right;
    padding-left: 0.25rem;
}

.like-button {
    width: 0.8125rem;
    padding-left: 0.125rem;
    position: relative;
}

.reblog-button {
    padding-left: 0;
}

.post-icon {
    display: block;
    height: 0.6875rem;
}

.like-icon {
    visibility: hidden;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

/*
Custom Like Button
ref: http://stackoverflow.com/a/21715659/954677
*/
.like_button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 11px;
    height: 11px;
    line-height: 11px;
    cursor: pointer;
    opacity: 0;
    display: none;
}

.like_button iframe {
    position: relative;
    top: -3px;
}

.like_button.liked + .like-icon {
    color: #d75f45 !important;
}

.like_button.liked + .like-icon:before {
    content: '\e813';
    position: relative;
    right: 0.0625rem;
}

.post-sources {
    font-size: 0.625rem;
    line-height: 150%;
}

.submission {
    text-transform: lowercase;
}
.submission:before {
    vertical-align: middle;
    margin-right: 3px;
}

.via:after {
    content: '/';
    margin-right: 5px;
}

.note-count {
    margin-top: 0;
    padding-top: 1em;
    border-top: 1px solid #eee;
}

.notes {
    margin: 0;
    font-size: 0.75rem;
    line-height: 190%;
}
.notes .avatar_frame {
    display: none;
}
.notes blockquote {
    margin: 0.5em 0;
}

.note:not(.more_notes_link_container) {
    padding-left: 1.125rem;
    position: relative;
}
.note:not(.more_notes_link_container):before {
    font-family: "bubblessoc-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.625rem;
    position: absolute;
    top: 7px;
    left: 0;
}
.note:not(.more_notes_link_container).like:before {
    content: '\e813';
}
.note:not(.more_notes_link_container).reblog:before {
    content: '\e802';
}
.note:not(.more_notes_link_container).reply:before {
    content: '\e800';
}
.note:not(.more_notes_link_container):last-child {
    padding-bottom: 0.8125rem;
}

.more_notes_link_container {
    font-size: 0.625rem;
}

.notes_loading, .more_notes_link {
    display: block;
    padding: 0.8125rem 0;
}

.more_notes_link {
    width: 540px;
    position: relative;
    left: -0.8125rem;
}

/* ==========================================================================
    Footer Styles
   ========================================================================== */
#footer-description {
    font-size: 0.5625rem;
    line-height: 150%;
    margin: 0;
    float: left;
}

#social-icons,
#theme-credit-long {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    font-size: 0.5625rem;
    margin: 0;
}

#social-icons {
    top: 35px;
}

.social-item {
    margin-right: 0.6875rem;
}

.social-item:last-child {
    margin-right: 0;
}

/* ============
    Pagination
   ============ */
.pagination {
    margin: 0;
}

.previous, .next {
    position: fixed;
    top: 50%;
}

.previous {
    left: 20px;
    text-align: left;
}

.next {
    right: 20px;
    text-align: right;
}

/* =========
    Buttons
   ========= */
#elevator, #theme-credit {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#elevator {
    opacity: 0;
}
#elevator.visible {
    opacity: 1;
    bottom: 3.25rem;
}
#elevator.icon-up-bold:before {
    position: relative;
    top: -0.125rem;
}

#theme-credit:hover {
    color: #d75f45 !important;
}
#theme-credit:hover:before {
    content: '\e813';
    position: relative;
    left: 0.0625rem;
}

/* ==========================================================================
    Media Queries
   ========================================================================== */
@media screen and (max-width: 977px) {
  .index #wrapper {
        max-width: 580px;
  }
  .index .post, .index #grid-sizer {
        width: 100%;
        max-width: none;
  }
}

/*# sourceMappingURL=main.css.map */
