@import 'mixins';
$body-font-rem: px2rem($body-font-size);

html {
    font-size: 100%; // 16px
}

body {
    font: 300 #{$body-font-rem}/175% 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    // 13px/22.75px
    margin: 0 $badge-width-height + 20px;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #eee;
}

blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 2px solid #eee;
}

ul, ol, p {
    margin: 1em 0;
}

b, strong {
    font-weight: 500;
}

h1, h2, h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: $body-font-rem 0;
}

h1 {
    margin-bottom: px2rem(18px);
    letter-spacing: 3px;
}

$h2-font-size: 15px;
$h2-font-rem: px2rem($h2-font-size);

h2 {
    font-size: $h2-font-rem;
    margin-top: $h2-font-rem;
    margin-bottom: $h2-font-rem;
}

h3 {
    font-size: $body-font-rem;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.circle, .badge, .notes .avatar {
    @include border-radius(50%);
}

.badge {
    display: inline-block;
    width: px2rem($badge-width-height);
    height: px2rem($badge-width-height);
    padding: px2rem(8px);
    line-height: $body-font-rem;
    @include border-box-sizing;

    &:before {
        font-size: $body-font-rem;
    }
}

.lightcaps,
.more_notes_link_container {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 100%;
    font-family: $serif-font-family;
}

.transitions-enabled {
    a, .note:before {
        @include transition(color);
    }
    .badge, .link-container, .more_notes_link {
        @include transition(background-color);
    }
    .post-date-link, .index .tag-link, .link-excerpt {
        @include transition(border-color);
    }
    #blog-header {
        @include transition(border-bottom-color 0.4s, height);
    }
    #blog-title {
        @include transition(font-size);
    }
    #blog-description {
        @include transition(height);
    }
    #elevator {
        @include transition(background-color, bottom 0.4s, opacity 0.6s);
    }
    .post-title-link:after {
        @include transition(opacity);
    }
}

/* ==========================================================================
    General Layout Styles
   ========================================================================== */

.index .tmblr-iframe {
    display: none;
}

#wrapper, #blog-footer {
    margin: 0 auto;
    width: 100%;
    max-width: $wrapper-max-width;
}

.permalink #wrapper {
    width: $permalink-post-width + $post-lr-padding + $post-aside-width;
    max-width: none;
}

// Header Elements
$title-height: 18px; // #blog-title
$title-height-compact: 13px; // #blog-title
$title-margin-bottom: 8px;
$description-height: 13px; // #blog-description
$header-padding: 40px;
$header-padding-compact: 29px;

$header-height: px2rem($title-height + $title-margin-bottom + $description-height + ($header-padding * 2));
// 40px (padding-top) + 18px + 8px (#blog-title) + 13px (#blog-description) + 40px (padding-bottom)

#blog-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: $header-height;
    padding: $header-padding 0;
    border-bottom: 1px solid transparent;
    @include border-box-sizing;

    &.compact {
        height: px2rem($title-height-compact + ($header-padding-compact * 2));
        // 29px (padding-top) + 13px (#blog-title) + 29px (padding-bottom)
        padding: $header-padding-compact 0;
    }
}

#posts-container {
    margin-top: $header-height;
}

.permalink #posts-container.has-posts {
    width: $permalink-post-width;
}

#blog-footer {
    padding: 20px $post-lr-padding;
    border-top: 1px solid #eee;
    @include border-box-sizing;
    position: relative;
}

.permalink #blog-footer {
    margin-top: 20px;
    // padding-left: 0;
    // padding-right: 0;
}

/* ==============
    Progress Bar
   ============== */

#nprogress {
    pointer-events: none;

    .progress-bar {
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }
}

/* ============
    Flat Lists
   ============ */

#main-menu, #social-icons,
.chat-container, .fake-list,
.tags, .post-icons, .post-sources,
.notes, .pagination,
#tagCloud ul {
    list-style-type: none;
    padding: 0;
}

.menu-item, .social-item,
.play-count, .permalink .external-audio,
.submission, .via, .source,
.next, .previous, .page-number {
    display: inline-block;
}

/* =========================
    Bottom Border for Hover
   ========================= */

.post-date-link,
.index .tag-link {
    border-bottom: 1px solid transparent;
}

/* ==========================================================================
   Header Styles
   ========================================================================== */

#header-wrapper {
    margin: 0 auto;
    max-width: $wrapper-max-width;
    position: relative;
}

#blog-title,
#blog-description,
#main-menu {
    margin: 0;
    position: absolute;
    display: inline-block;
    line-height: 1em;
}

#blog-title {
    top: 0;
    left: $post-lr-padding;
    font-size: px2rem($title-height);
}

$desc-height-rem: px2rem($description-height);
#blog-description {
    top: px2rem($title-height + $title-margin-bottom);
    left: $post-lr-padding;
    font: italic #{$desc-height-rem}/#{$desc-height-rem} $serif-font-family;
    height: $desc-height-rem;
}

#main-menu {
    top: 0;
    right: $post-lr-padding;
    font-size: px2rem(12px);
}
.menu-item {
    margin-right: px2rem(25px);
    text-transform: lowercase;
}
.menu-item:last-child {
    margin-right: 0;
}

.compact {
    #blog-title {
        font-size: px2rem($title-height-compact);
    }
    #blog-description {
        height: 0;
        overflow: hidden;
    }
}

/* ==========================================================================
    Main Styles
   ========================================================================== */

.results-title {
    margin: 0 $post-lr-padding 20px;
    font-family: inherit !important;
    font-weight: 300;
    font-size: px2rem(12px);
    text-transform: lowercase;
    letter-spacing: normal;

    &:before {
        vertical-align: middle;
        margin-right: 3px;
    }

    .the-query {
        font-style: normal;
        font-weight: 500;
    }
}

.tag-page[data-tag="x"] .results-title {
    display: none;
}

.index .post, #grid-sizer {
    //width: 33.3333333%;
    width: 50%;
    max-width: $post-max-width;
    min-width: $post-min-width;
    padding: 0 $post-lr-padding;
    @include border-box-sizing;
}

.index .post {
    margin-bottom: 40px;
    float: left;
}

.permalink .post {
    margin-bottom: 20px;
}

.post-content {
    @include border-radius(4px);
}
.index .post-content {
    padding-bottom: 1em;
}

.type-quote .post-content,
.type-answer .post-content {
    padding-top: 1em;
}

// I think I'll cheat instead of resetting all the top margins...
.type-text .post-content,
.type-chat .post-content {
    padding-top: 1px;
}

/* ===========
    The Posts
   =========== */

.post iframe {
    max-width: 100%;
}

.post-title {
    margin-left: $body-font-rem;
    margin-right: $body-font-rem;
    line-height: 125%;
}

$post-title-size: 18px;
$post-title-rem: px2rem($post-title-size);
.index .post-title,
.has-posts .post-title {
    font-size: $post-title-rem;
}

.post-title-link:after {
    opacity: 0;
}
.post-title-link:hover:after {
    opacity: 1;
}

.post-body {
    margin: 0 1em;

    small {
        font-size: 85%;
        line-height: 100%;
    }
    pre {
        font-size: 90%;
        line-height: 150%;
    }
    figure {
        margin: 1em 0;
    }
}

/* tumblr gif styles */
.tmblr-full {
    .tmblr-attribution {
        margin: 0 $body-font-rem;
        font-size: 85%;

        .icon-link-ext:before {
            margin-right: px2rem(3px);
            vertical-align: middle;
        }
    }

    &.stretched {
        position: relative;
        left: -1em;

        img {
            width: 100%;
        }
    }
}

/* ============
    Photo Post
   ============ */

.post-photo {
    width: 100%;
}

.tmblr-lightbox .lightbox-image {
    max-width: none;
}

.post:not(.photoset-post) .post-photo,
.photoset-row:first-child.columns-1 .photo-link {
    @include border-radius(4px 4px 0 0);
}

.photoset-row:first-child:not(.columns-1) .photo-link:first-child {
    @include border-radius(4px, top-left);
}
.photoset-row:first-child:not(.columns-1) .photo-link:last-child {
    @include border-radius(4px, top-right);
}

/* ============
    Quote Post
   ============ */

.quote-container {
    padding: 0;
    border-width: 0;
    margin-top: 0;
}

.the-quote {
    margin: 0 $body-font-rem $body-font-rem;
    text-transform: uppercase;

    p:first-child {
        margin-top: 0;
    }
}

.quote-container.short .the-quote {
    font-size: px2rem(18px);
    line-height: 125%;
}
.quote-container.medium .the-quote {
    font-size: px2rem(15px);
    line-height: 150%;
}

.quote-source {
    font-family: $serif-font-family;
    font-size: px2rem(14px);
}

/* ===========
    Link Post
   =========== */

.link-container {
    display: block;
    padding: 1em 0;
    background-color: transparent;
    @include border-radius(4px 4px 0 0);

    &.has-thumbnail {
        padding-top: 0;
    }
    &:not(.has-thumbnail) .link-name {
        margin-top: 0;
    }
}

.link-name:after {
    margin-left: px2rem(10px);
}

.link-excerpt {
    margin: 0 1em;

    .the-excerpt {
        font-size: px2rem(12px);
        line-height: 150%;
        margin-bottom: 0;
    }
}

.type-link .post-body {
    border-top: 1px solid #eee;
    margin-top: 1em;
}

/* ===========
    Chat Post
   =========== */

.chat-container {
    margin-top: 0;
    margin-bottom: 0;
}

.chat-title {
    margin-bottom: $post-title-size - $body-font-size;
}

.chat-line {
    padding: 1em;
}

.line-label {
    float: left;
    width: 20%;
    word-wrap: break-word;
}

.chat-line.has-label .line-text {
    float: left;
    width: 80%;
    padding-left: px2rem(5px);
    @include border-box-sizing;
}

/* ============
    Audio Post
   ============ */

.type-audio .post-content {
    position: relative;
}

.audio-info {
    padding: 1em 1em 0;
    min-height: 71px;

    .the-info {
        vertical-align: middle;
        min-height: 71px;
        padding-left: 84px;
        opacity: 0;
    }
}
.index .audio-info {
    margin-bottom: 1em;
}

.track-name {
    font-size: px2rem(15px) !important;
    margin: 0;
    letter-spacing: normal;
}

.artist {
    font-size: px2rem(12px);
    margin: px2rem(6px) 0 0;
}

.album-art {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 71px;
    height: 71px;
}

.audio-player {
    width: 27px;
    height: 27px;
    padding: 10px;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #f2f2f2;
    opacity: 0.7;
}

// fix for tumblr's changes to the default audio player
.audio_player {
    width: 27px;
    height: 27px;
    overflow: hidden;
}
.tumblr_audio_player {
    width: 27px !important;
    max-width: 27px !important;
    height: 27px;
    overflow: hidden;
    position: relative;
    left: -3px;
}

/* =============
    Answer Post
   ============= */

.question-container,
.answer-container {
    margin: 0 1em;
    position: relative;
}
.answer-container {
    margin-top: 1em;
    padding-top: 1em;
}

.asker-portrait,
.answerer-portrait {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}
.answerer-portrait {
    top: 1em;
}

.question-author,
.answer-author {
    text-transform: uppercase;
    line-height: 100%;
    height: 24px;
    padding: 6px 0 0 34px;
    @include border-box-sizing;
}

.asker, .answerer {
    font-weight: normal;
}

.question, .answer {
    padding-bottom: 1em;
}
.question {
    margin-top: 1em;
}

.answer-container,
.type-answer .post-body {
    border-top: 1px solid #eee;
}
.type-answer .post-body:empty {
    border-top-width: 0;
}

/* =======
    Pages
   ======= */

#ask_form {
    margin-bottom: 1em;
}

.elsewhere {
    line-height: px2rem(25px);
}

.left-column, .right-column {
    @extend .elsewhere;
    @include border-box-sizing;
    width: 50%;
    padding-bottom: 1em;

    h2 {
        font-size: $body-font-rem;
    }
    ul {
        padding-left: 1em !important;
        &:last-child {
            margin-bottom: 0;
        }
        ul {
            padding-bottom: 1em;
        }
    }
}

.left-column {
    float: left;
    padding-right: 0.5em;
}

.right-column {
    float: right;
    padding-left: 0.5em;
}

/* ===========
    Post Meta
   =========== */

.index .post-aside,
.post-footer {
    padding: 1em 1em 0;
}

.permalink .post-aside {
    position: fixed;
    top: $header-height;
    width: $post-aside-width;
    margin-left: $permalink-post-width + $post-lr-padding;
}

// Begin Post Date
.post-date {
    font-size: px2rem(11px);
}

.index .post-date {
    line-height: px2rem(11px);
    text-transform: lowercase;
    float: left;
    max-width: 18%;
}

.permalink .post-date {
    line-height: 150%;
}
// End Post Date

// Begin Post Tags
.tags {
    line-height: 150%;
    // text-transform: lowercase;
}

.index {
    .tags {
        font-size: px2rem(9px);
        float: left;
        margin: 0;
        padding-left: 20px;
        max-width: 77%;
        position: relative;
        @include border-box-sizing;

        &:before {
            content: '/';
            position: absolute;
            left: 8px;
            font-size: px2rem(11px);
        }
    }
    .has-external-audio .tags {
        max-width: 71%;
    }

    .tag {
        float: left;
        padding-right: px2rem(5px);
    }
}

.permalink .tags {
    font-size: px2rem(10px);
}
// End Post Tags

// Begin Post Icons
.index .post-icons {
    float: right;
    margin: 0;
    font-size: px2rem(11px);
    line-height: px2rem(11px);
}

.permalink {
    .post-icons {
        display: none;
        font-size: px2rem(10px);
        line-height: 150%;
        text-transform: lowercase;
    }
    .post.type-audio .post-icons {
        display: block;
    }

    .play-count:before {
        margin-right: 6px;
    }
    .external-audio:before {
        content: '/';
        margin-left: 3px;
    }
}

.index .external-audio,
.like-button,
.reblog-button {
    float: right;
    text-align: right;
    padding-left: 0.25rem; // 4px
}
.like-button {
    width: 0.8125rem; // 13px
    padding-left: 0.125rem; // 2px
    position: relative;
}
.reblog-button {
    padding-left: 0;
}

.post-icon {
    display: block;
    height: 0.6875rem; // 11px
}
.like-icon {
    visibility: hidden;
    @include transition(color);
}

/*
Custom Like Button
ref: http://stackoverflow.com/a/21715659/954677
*/
.like_button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 11px;
    height: 11px;
    line-height: 11px;
    cursor: pointer;
    opacity: 0;
    display: none;
}
.like_button iframe {
    position: relative;
    top: -3px;
}

.like_button.liked + .like-icon {
    color: #d75f45 !important;
}
.like_button.liked + .like-icon:before {
    content: '\e813'; // icon-heart-filled
    position: relative;
    right: 0.0625rem; // 1px
}
// End Post Icons

// Begin Post Sources
.post-sources {
    font-size: px2rem(10px);
    line-height: 150%;
}

.submission {
    text-transform: lowercase;
    &:before {
        vertical-align: middle;
        margin-right: 3px;
    }
}

.via:after {
    content: '/';
    margin-right: 5px;
}
// End Post Sources

// Begin Notes Section
.note-count {
    margin-top: 0;
    padding-top: 1em;
    border-top: 1px solid #eee;
}

.notes {
    margin: 0;
    font-size: px2rem(12px);
    line-height: 190%;

    .avatar_frame {
        display: none;
    }
    blockquote {
        margin: 0.5em 0;
    }
}

.note:not(.more_notes_link_container) {
    padding-left: px2rem(10px + 8px); // icon width + icon margin
    position: relative;

    &:before {
        // copied directly from bubblessoc-icons.css
        font-family: "bubblessoc-icons";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        text-align: center;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        // added for main.css
        font-size: px2rem(10px);
        position: absolute;
        top: 7px;
        left: 0;
    }

    &.like:before {
        content: '\e813';
    }
    &.reblog:before {
        content: '\e802';
    }
    &.reply:before {
        content: '\f0e5';
    }

    &:last-child {
        padding-bottom: $body-font-rem;
    }
}

// .note:last-child:not(.more_notes_link_container) {
//     padding-bottom: $body-font-rem;
// }

.more_notes_link_container {
    font-size: px2rem(10px);
}

.notes_loading {
    display: block;
    padding: $body-font-rem 0;
}

.more_notes_link {
    @extend .notes_loading;
    width: $permalink-post-width;
    position: relative;
    left: $body-font-rem * -1;
}
// End Notes Section

/* ==========================================================================
    Footer Styles
   ========================================================================== */

#footer-description {
    // font-size: px2rem(11px);
    font-size: px2rem(9px);
    line-height: 150%;
    margin: 0;
    float: left;
}

#social-icons,
#theme-credit-long {
    position: absolute;
    top: 20px;
    right: $post-lr-padding;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    // font-size: px2rem(11px);
    font-size: px2rem(9px);
    margin: 0;
}

// .permalink #social-icons,
// .permalink #theme-credit-long {
//     right: 0;
// }

#social-icons {
    // top: 20px + 11px + 8px;
    top: 20px + 9px + 6px;
}
.social-item {
    // margin-right: px2rem(13px);
    margin-right: px2rem(11px);
}
.social-item:last-child {
    margin-right: 0;
}

/* ============
    Pagination
   ============ */

.pagination {
    margin: 0;
}

.previous, .next {
    position: fixed;
    top: 50%;
}

.previous {
    left: 20px;
    text-align: left;
}

.next {
    right: 20px;
    text-align: right;
}


// #day-pagination {
//     margin: 0 20px;
//     text-transform: lowercase;
// }
//
// #prev-day {
//     float: left;
//     width: 50%;
// }
//
// #next-day {
//     float: right;
//     width: 50%;
//     text-align: right;
// }

/* =========
    Buttons
   ========= */

#elevator, #theme-credit {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#elevator {
    opacity: 0;

    &.visible {
        opacity: 1;
        bottom: px2rem(20px + $badge-width-height + 3px);
    }

    &.icon-up-bold:before {
        position: relative;
        top: px2rem(-2px);
    }
}

#theme-credit:hover {
    color: #d75f45 !important;
    &:before {
        content: '\e813'; // icon-heart-filled
        position: relative;
        left: px2rem(1px);
    }
}

/* ==========================================================================
    Media Queries
   ========================================================================== */

// $mq1-width: $wrapper-max-width + ($badge-width-height + 20px) * 2 - 1;
// @media screen and (max-width: $mq1-width) {
//     .index {
//         .pagination {
//             margin-bottom: 20px;
//         }
//         .next, .previous {
//             position: static;
//             padding: 0 $post-lr-padding;
//         }
//         .next {
//             float: right;
//         }
//     }
// }

$mq-max-width: ($post-min-width * 2) + ($badge-width-height + 20px) * 2 - 1;
@media screen and (max-width: $mq-max-width) {
    .index {
        #wrapper {
            max-width: 540px + $post-lr-padding * 2;
        }

        .post, #grid-sizer {
            width: 100%;
            max-width: none;
        }
    }
}
